//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/home/robin/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/robin/.local/share/rofi/themes/rounded-orange-dark.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
@theme "/home/robin/.local/share/rofi/themes/rounded-orange-dark.rasi"
